header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15);
    z-index: 5;
    min-height: 56px;
    width: 100%;
}


.base-links-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 3px 40px;
    align-items: center;
    justify-content: space-between;
}


.home-page-container {
    display: flex;
    align-items: center;
}


.home-page-container a {
    color: #a79883;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.6s ease, background-color 0.9s ease;
}


.home-page-container a:hover {
    color: #ffffff;
}


.base-links {
    display: flex;
    align-items: center;
}


.base-links ul {
    display: flex;
    gap: 25px;
    list-style: none;
}


.base-links a {
    color: #B8A890;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.6s ease, background-color 0.9s ease;
}


.base-links a:hover {
    color: #f5f5f5;
}


/* Стили для бургера */
.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}


.burger span {
    width: 25px;
    height: 1.5px;
    background-color: #a79883;
    transition: transform 0.3s;
}


/* Стили для выпадающего меню */
.mobile-links {
    display: none;
    position: absolute;
    padding: 40px;
    box-sizing: border-box;
    background-color: rgba(15, 15, 15);
    top: 56px; /* Высота header */
    margin: 0;
    left: 65%;
    list-style: none;
    animation: mobile-links-animation 0.3s ease-in-out;
    z-index: 10;
}


.mobile-links a {
    text-decoration: none;
    color: #B8A890;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.6s ease, background-color 0.9s ease;

    &:hover {
        color: #f5f5f5;
    }
}


.mobile-links.active {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


@keyframes mobile-links-animation {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }

}


@media (max-width: 875px) {
    .base-links {
        display: none;
    }

    .burger {
        display: flex;
    }
}


@media (max-width: 600px) {
    .mobile-links {
        left: 0;
        width: 100%;
        padding: 20px 40px;
    }
}





/* Стиль для автозаполненных полей */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-background-clip: text; /* Убирает стандартный фон */
    font-size: 18px !important; /* Задаем одинаковый размер шрифта для всех состояний */
    -webkit-text-fill-color: #a79883 !important; /* Цвет текста */
    -webkit-box-shadow: 0 0 0 1000px rgb(39, 39, 39) inset !important; /* Цвет фона */
    caret-color: #ffffff !important; /* Цвет курсора */
    transition: background-color 5000s ease-in-out 0s; /* Сохраняем цвет фона при автозаполнении */
}
